extend ../layout

block content
  .container
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default(style="margin-top: 20px;")
          .panel-heading 
            .panel-title 书籍信息
          .panel-body  
            form#updateBookForm.form-horizontal(data-role='#{role}')
              input(type="hidden" name="book[createfrom]" value="#{user.name}") 
              input(type="hidden" name="book[_id]" value="#{book._id}") 
              .form-group
                label.col-md-2.control-label(for="bookName") 书籍名称
                .col-md-10
                  input#bookName.form-control(name="book[name]" type="text" value="#{book.name}" ) 
              .form-group
                label.col-md-2.control-label(for="classification") 分类
                .col-md-10
                  input#classification.form-control(name="book[classification]" type="text" value="#{book.classification}" )
              .form-group
                label.col-md-2.control-label(for="location") 位置
                .col-md-10
                  input#location.form-control(name="book[location]" type="text" value="#{book.location}" ) 
              .form-group
                label.col-md-2.control-label(for="inputSummary") 简介
                .col-md-10
                  textarea#inputSummary.form-control(type="text" rows="2" name="book[description]" style="max-width:100%;") #{book.description}
              .null(style="text-align:right;")
                button.btn.btn-success(type="submit") 更新           
  #msgModal.modal.fade
    .modal-dialog(style="width:25%")
      .modal-content 
        #modal-panel.panel.panel-success 
          .panel-heading 提示
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
          #message.panel-body.text-center 

  //- footer
  include ../includes/footer
  script(type="text/javaScript" src="/public/js/admin/updateBook.js")